<app-header></app-header>
<div class="container mt-4">
    <h2 class="mb-4 animated-title">Quản lý người dùng</h2>

    <form [formGroup]="userForm" (ngSubmit)="submitForm()" class="mb-1">
        <div class="row g-3">
            <div class="col-md-3">
                <label>ID</label>
                <input type="text" formControlName="id" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('id')?.invalid && userForm.get('id')?.touched}" />
                <div *ngIf="userForm.get('id')?.invalid && userForm.get('id')?.touched" class="text-danger">
                    ID không được để trống
                </div>
            </div>
            <div class="col-md-3">
                <label>Username</label>
                <input type="text" formControlName="username" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('username')?.invalid && userForm.get('username')?.touched}" />
                <div *ngIf="userForm.get('username')?.invalid && userForm.get('username')?.touched" class="text-danger">
                    Username không được để trống
                </div>
            </div>
            <div class="col-md-3">
                <label>Password</label>
                <input type="password" formControlName="password" class="form-control"
                       [ngClass]="{'is-invalid': userForm.get('password')?.invalid && userForm.get('password')?.touched}" />
                <div *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched" class="text-danger">
                    Mật khẩu phải từ 8 ký tự trở lên
                </div>
            </div>
            <div class="col-md-3">
                <label>Ngày sinh</label>
                <input type="date" formControlName="dob" class="form-control"
                       [ngClass]="{'is-invalid': (userForm.get('dob')?.touched && !isValidAge(userForm.get('dob')?.value))}" />
                <div *ngIf="userForm.get('dob')?.touched && !isValidAge(userForm.get('dob')?.value)" class="text-danger">
                    Người dùng phải đủ 13 tuổi
                </div>
            </div>
            <div class="col-md-3">
                <label>Họ</label>
                <input type="text" formControlName="fname" class="form-control" />
            </div>
            <div class="col-md-3">
                <label>Tên</label>
                <input type="text" formControlName="lname" class="form-control"/>
            </div>
            <div class="col-md-3">
                <label>Email</label>
                <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{'is-invalid': userForm.get('email')?.invalid && userForm.get('email')?.touched}" />
                <div *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched" class="text-danger">
                    Email không hợp lệ
                </div>
            </div>
            <div class="col-md-3">
                <label>Số điện thoại</label>
                <input type="text" formControlName="phone" class="form-control"/>
            </div>
            <!-- Địa chỉ 1 -->
            <div class="col-md-4">
                <label>Địa chỉ 1</label>
                <input type="text" formControlName="address1" class="form-control" />
            </div>

            <!-- Địa chỉ 2 -->
            <div class="col-md-4">
                <label>Địa chỉ 2</label>
                <input type="text" formControlName="address2" class="form-control" />
                <div *ngIf="address2Invalid" class="text-danger">
                    Hãy nhập địa chỉ 1 trước
                </div>
            </div>
            
            
            <!-- Địa chỉ 3 -->
            <div class="col-md-4">
                <label>Địa chỉ 3</label>
                <input type="text" formControlName="address3" class="form-control" />
                <div *ngIf="address3Invalid" class="text-danger">
                    Hãy nhập địa chỉ 1 và 2 trước
                </div>
            </div>
        </div>

        <button class="btn btn-primary mt-3" type="submit">
            {{ editingIndex !== null ? 'Cập nhật' : 'Thêm mới' }}
        </button>
    </form>

    <div class="d-flex justify-content-end mt-3">
        <button *ngIf="editingIndex !== null" class="btn btn-secondary" type="button" (click)="cancelEdit()">Huỷ</button>
    </div>
    
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr class="text-center">
                <!-- <th style="width: 50px;">ID</th> -->
                <th style="width: 170px;">Họ tên</th>
                <th style="width: 130px;">Điện thoại</th>
                <th>Email</th>
                <th style="width: 140px;">Username</th>
                <th style="width: 140px;">Ngày sinh</th>
                <th style="width: 140px;">Thao tác</th>
            </tr>
        </thead>
        <tbody class="table-dark">
            <tr *ngFor="let u of users | paginate: { itemsPerPage: 8, currentPage: p }; let i = index" class="custom-row">
                <!-- <td>{{ u.id }}</td> -->
                <td>{{ u.fname }} {{u.lname}}</td>
                <td>{{ u.phone }}</td>
                <td>{{ u.email }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.dob | date: 'dd/MM/yyyy' }}</td>
                <td>
                    <div class="d-flex">
                        <button class="btn btn-sm btn-info me-2" (click)="viewUser(u)" data-bs-toggle="modal" data-bs-target="#userDetailModal">Xem</button>
                        <button class="btn btn-sm btn-warning me-2" (click)="editUser(u)">Sửa</button>
                        <button class="btn btn-sm btn-danger" (click)="deleteUser(u.id)">Xoá</button>
                    </div>
                </td>
            </tr>
            
        </tbody>
    </table>

    <div class="d-flex justify-content-center mt-3">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
    
</div>

<!-- Modal hiển thị thông tin user -->
<div class="modal fade" id="userDetailModal" tabindex="-1" aria-labelledby="userDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="userDetailModalLabel">Thông tin người dùng</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Đóng"></button>
            </div>
            <div class="modal-body" *ngIf="selectedUser">
                <p><strong>ID:</strong>{{ selectedUser.id }}</p>
                <p><strong>Họ tên:</strong> {{ selectedUser.fname }} {{ selectedUser.lname }}</p>
                <p><strong>Username:</strong> {{ selectedUser.username }}</p>
                <p><strong>Password:</strong> {{ selectedUser.password }}</p>
                <p><strong>Email:</strong> {{ selectedUser.email }}</p>
                <p><strong>Số điện thoại:</strong> {{ selectedUser.phone }}</p>
                <p><strong>Ngày sinh:</strong> {{ selectedUser.dob | date: 'dd/MM/yyyy' }}</p>
                <p><strong>Mật khẩu:</strong> {{ selectedUser.password }}</p>
                <p><strong>Địa chỉ 1:</strong> {{ getAddress(0) }}</p>
                <p><strong>Địa chỉ 2:</strong> {{ getAddress(1) }}</p>
                <p><strong>Địa chỉ 3:</strong> {{ getAddress(2) }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>